@media all and (min-width: 1670px) {

}

@media (max-width: 1670px){

}

@media (max-width: 1380px){

}

@media (max-width: 1200px){


}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	
}

@media all and (max-width: 992px){
	.navbar-dark .navbar-toggler{
		color: #fff;
		background-color: var(--theme-color-1);
		width: 50px;
		height: 50px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-color: transparent;
	}
	
	.navbar-collapse{
		position: absolute;
		top: 66px;
		left: 0;
		width: 100%;
		background-color: var(--theme-color-2);
		z-index: 999;
		padding: 15px;
		height: calc(100vh - 66px);
		overflow: auto;
	}

	.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color1);
	}

	.navbar-nav .dropdown-menu{
		box-shadow: none;
		background-color: var(--theme-color-2);
		border: none;
	}

	.navbar .nav-item:hover .dropdown-menu{
		box-shadow: none;
	}

	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: var(--font-white);
	}

	.dropdown .nav-link:after{
		float: right;
	}

	.header-btns{
		flex-direction: column;
		margin-left: 0px !important;
	}

	.section{
		padding: 40px 0px;
	}

	.btn-border{
		width: 100%;
		max-width: 100%;
	}

	.navbar-nav{
		margin-bottom: 20px;
	}

	.soon-counter-list{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.pages.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color) !important;
	}

	.main-image-container{
		height: 700px;
	}

	.navbar .nav-item:hover .dropdown-menu{
		background-color: transparent;
	}

	.dropdown-item{
		padding-left: 0px;
		padding-right: 0px;
	}

	.blog-card{
		flex-direction: column;
	}

	.blog-image a{
		width: 100%;
	}

	.blog-content{
		padding: 20px 0px;
	}

	.blog-content a{
		margin-bottom: 15px;
	}

	.contact-info-card{
		height: auto;
    	margin-bottom: 60px;
	}

}

@media all and (max-width: 768px){
	.navbar-dark .navbar-toggler{
		color: #fff;
		background-color: var(--theme-color-1);
		width: 50px;
		height: 50px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-color: transparent;
	}
	
	.navbar-collapse{
		position: absolute;
		top: 66px;
		left: 0;
		width: 100%;
		background-color: var(--theme-color-3);
		z-index: 999;
		padding: 15px;
		height: auto;
		overflow: auto;
	}

	.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color1);
	}

	.navbar-nav .dropdown-menu{
		box-shadow: none;
		background-color: transparent;
		border: none;
	}

	.navbar .nav-item:hover .dropdown-menu{
		box-shadow: none;
	}

	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: var(--theme-color-1);
	}

	.dropdown .nav-link:after{
		float: right;
	}

	.header-btns{
		flex-direction: column;
		margin-left: 0px !important;
	}

	.section{
		padding: 40px 0px;
	}

	.btn-main{
		width: 100%;
		max-width: 100%;
	}

	.btn-border{
		width: 100%;
		max-width: 100%;
	}

	.navbar-nav{
		margin-bottom: 20px;
	}

	.soon-counter-list{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.pages.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color1);
	}

	.mainimage-btns{
		flex-direction: column;
	}

	.mainimage-btns a{
		margin-right: 0;
		margin-bottom: 20px;
	}

	.mainimage-btns a:last-child{
		margin-bottom: 0;
	}

	.btn-secondary{
		width: 100%;
		max-width: 100%;
	}

	.main-image-container{
		height: 700px;
	}

	.funfactors{
		height: 100%;
	}

	.funfactor-list{
		flex-direction: column;
	}

	.funfactor-item {
		flex: 50%;
		text-align: center;
		padding: 20px;
		width: 100%;
	}

	.sign-page-image{
		display: none;
	}

	.sign-page-form{
		width: 100%;
	}

	.prev-arrow{
		display: none !important;
	}

	.next-arrow{
		display: none !important;
	}

	.banner-form-wrapper{
		flex-direction: column;
	}

	.banner-input{
		margin-right: 0;
		margin-bottom: 15px;
	}

	.banner-sign-btn{
		width: 100%;
		max-width: 100%;
	}

	.banner-feature-list{
		flex-direction: column;
    	align-items: flex-start;
	}

	.banner-feature-list li{
		margin-bottom: 5px;
	}

	.main-banner-heading{
		font-size: 32px;
	}

	.section-heading{
		font-size: 28px;
		line-height: 35px;
	}

	.quote-container{
		padding: 3rem 2rem;
	}

	.quote-form-group{
		width: 100%;
	}

	.btn-blue{
		width: 100%;
		max-width: 100%;
	}

	/* pages */
	.page-banner-wrapper{
		flex-direction: column;
    	text-align: center;
	}

	.whowe-list-inner{
		width: 100%;
		margin-bottom: 10px;
	}

	.blog-card{
		flex-direction: column;
	}

	.blog-image a{
		width: 100%;
	}

	.blog-content{
		padding: 20px 0px;
	}

	.blog-content a{
		margin-bottom: 15px;
	}

	.contact-info-card{
		height: auto;
    	margin-bottom: 60px;
	}

	.error-page-content h1{
    	text-align: center;
    	width: 100%;	
	}

	.error-page-content h3{
		text-align: center;
		width: 100%;
	}

	.error-page-content p{
    	text-align: center;
	}
	
}

@media all and (max-width: 480px){
	.navbar-dark .navbar-toggler{
		color: #fff;
		background-color: var(--theme-color-1);
		width: 50px;
		height: 50px;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-color: transparent;
	}
	
	.navbar-collapse{
		position: absolute;
		top: 66px;
		left: 0;
		width: 100%;
		background-color: var(--theme-color-3);
		z-index: 999;
		padding: 15px;
		height: auto;
		overflow: auto;
	}

	.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color1);
	}

	.navbar-nav .dropdown-menu{
		box-shadow: none;
		background-color: transparent;
		border: none;
	}

	.navbar .nav-item:hover .dropdown-menu{
		box-shadow: none;
	}

	.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
		color: var(--theme-color-1);
	}

	.dropdown .nav-link:after{
		float: right;
	}

	.header-btns{
		flex-direction: column;
		margin-left: 0px !important;
	}

	.section{
		padding: 40px 0px;
	}

	.btn-main{
		width: 100%;
		max-width: 100%;
	}

	.btn-border{
		width: 100%;
		max-width: 100%;
	}

	.navbar-nav{
		margin-bottom: 20px;
	}

	.soon-counter-list{
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.pages.navbar-dark .navbar-nav .nav-link{
		color: var(--heading-color1);
	}

	.mainimage-btns{
		flex-direction: column;
	}

	.mainimage-btns a{
		margin-right: 0;
		margin-bottom: 20px;
	}

	.mainimage-btns a:last-child{
		margin-bottom: 0;
	}

	.btn-secondary{
		width: 100%;
		max-width: 100%;
	}

	.main-image-container{
		height: 700px;
	}

	.funfactors{
		height: 100%;
	}

	.funfactor-list{
		flex-direction: column;
	}

	.funfactor-item {
		flex: 50%;
		text-align: center;
		padding: 20px;
		width: 100%;
	}

	.sign-page-image{
		display: none;
	}

	.sign-page-form{
		width: 100%;
	}

	.prev-arrow{
		display: none !important;
	}

	.next-arrow{
		display: none !important;
	}

	.banner-form-wrapper{
		flex-direction: column;
	}

	.banner-input{
		margin-right: 0;
		margin-bottom: 15px;
	}

	.banner-sign-btn{
		width: 100%;
		max-width: 100%;
	}

	.banner-feature-list{
		flex-direction: column;
    	align-items: flex-start;
	}

	.banner-feature-list li{
		margin-bottom: 5px;
	}

	.main-banner-heading{
		font-size: 32px;
	}

	.section-heading{
		font-size: 28px;
		line-height: 35px;
	}

	.quote-container{
		padding: 3rem 2rem;
	}

	.quote-form-group{
		width: 100%;
	}

	.btn-blue{
		width: 100%;
		max-width: 100%;
	}

	/* pages */
	.page-banner-wrapper{
		flex-direction: column;
    	text-align: center;
	}

	.whowe-list{
		flex-direction: column;
		align-items: flex-start;
	}

	.whowe-list-inner{
		width: 100%;
		margin-bottom: 10px;
	}
}